body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial;
}

.calculator {
    width: 250px;
    border: 2px solid #333;
    padding: 15px;
    border-radius: 10px;
}

#result {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right;
    background-color:#333;
    color:aliceblue;
}

.buttons button {
    width: 50px;
    height: 40px;
    margin: 5px;
    font-size: 16px;
}

#b1
{
    background-color: black;
    color:aliceblue;
}